.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test-project/**
test-matching.js
example/**
example.**
example.*
simple.*
test/**
src/test/**
**/test/**
**/example/**
**/simple.*
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
